doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width initial-scale=1.0')

    link(rel='stylesheet' type="text/css" href="css/styles.css")

  body
    header
      h1 Das verwunschene Teeservice
      #title.hide Es läuft:
        strong
          | Kapitel
          span#chapter
          | &nbsp;–&nbsp;
          span#name

      audio#player(controls controlsList="nodownload")
        source(src='' type='audio/mp3')
    main
      #calendar
    script(src="js/scripts.js")